BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
NamespaceIndentation: All
DerivePointerAlignment: false
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 1
AlignConsecutiveDeclarations: true
