<ol id='menu-id-menu-0' class='menu menu-level0 show '>
  <li id='menu-item-menu-1' class='menu-item '>
    <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox/' class='menu-link  '><i class='bi bi-diagram-3' aria-hidden='true'></i> NativeMessageBox</a><a href='#menu-id-menu-1' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-1' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-menu-1' class='menu menu-level1 collapse '>
    <li id='menu-item-menu-2' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.AndroidHostOptions/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> AndroidHostOptions</a><a href='#menu-id-menu-2' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-2' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-2' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-3' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.AndroidHostOptions/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-menu-3' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-3' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-3' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-4' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.AndroidHostOptions.ActivityReferenceProvider/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> ActivityReferenceProvider</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-5' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButton/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> MessageBoxButton</a><a href='#menu-id-menu-5' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-5' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-5' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-6' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButton/#constructors' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Constructors</a><a href='#menu-id-menu-6' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-6' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-6' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-7' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButton.-ctor-System.UInt32-System.String-NativeMessageBo-24bef5dbf055/' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> MessageBoxButton(UInt32, String, MessageBoxButtonKind, Boolean, Boolean, String?)</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-menu-8' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButton/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-menu-8' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-8' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-8' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-9' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButton.Description/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Description</a></span>        </li>
        <li id='menu-item-menu-10' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButton.Id/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Id</a></span>        </li>
        <li id='menu-item-menu-11' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButton.IsCancel/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> IsCancel</a></span>        </li>
        <li id='menu-item-menu-12' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButton.IsDefault/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> IsDefault</a></span>        </li>
        <li id='menu-item-menu-13' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButton.Kind/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Kind</a></span>        </li>
        <li id='menu-item-menu-14' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButton.Label/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Label</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-15' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxInputOptions/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> MessageBoxInputOptions</a><a href='#menu-id-menu-15' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-15' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-15' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-16' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxInputOptions/#constructors' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Constructors</a><a href='#menu-id-menu-16' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-16' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-16' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-17' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxInputOptions.-ctor-NativeMessageBox.MessageBoxInputMode-307e96761384/' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> MessageBoxInputOptions(MessageBoxInputMode, String?, String?, String?, IReadOnlyList<String>?)</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-menu-18' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxInputOptions/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-menu-18' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-18' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-18' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-19' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxInputOptions.ComboItems/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> ComboItems</a></span>        </li>
        <li id='menu-item-menu-20' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxInputOptions.DefaultValue/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> DefaultValue</a></span>        </li>
        <li id='menu-item-menu-21' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxInputOptions.Mode/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Mode</a></span>        </li>
        <li id='menu-item-menu-22' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxInputOptions.Placeholder/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Placeholder</a></span>        </li>
        <li id='menu-item-menu-23' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxInputOptions.Prompt/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Prompt</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-24' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> MessageBoxOptions</a><a href='#menu-id-menu-24' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-24' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-24' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-25' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions/#constructors' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Constructors</a><a href='#menu-id-menu-25' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-25' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-25' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-26' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.-ctor-System.String-System.Collections.Generic.I-d2d6296e4dbc/' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> MessageBoxOptions(String, IEnumerable<MessageBoxButton>?, String?, MessageBoxIcon, MessageBoxSeverity, MessageBoxDialogModality, IntPtr, MessageBoxInputOptions?, MessageBoxSecondaryContent?, String?, Boolean, Boolean, Boolean, Nullable<TimeSpan>, Nullable<UInt32>, String?, Object?)</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-menu-27' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-menu-27' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-27' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-27' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-28' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.AllowCancelViaEscape/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> AllowCancelViaEscape</a></span>        </li>
        <li id='menu-item-menu-29' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.Buttons/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Buttons</a></span>        </li>
        <li id='menu-item-menu-30' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.Capabilities/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Capabilities</a></span>        </li>
        <li id='menu-item-menu-31' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.Icon/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Icon</a></span>        </li>
        <li id='menu-item-menu-32' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.InputOptions/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> InputOptions</a></span>        </li>
        <li id='menu-item-menu-33' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.Locale/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Locale</a></span>        </li>
        <li id='menu-item-menu-34' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.Message/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Message</a></span>        </li>
        <li id='menu-item-menu-35' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.Modality/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Modality</a></span>        </li>
        <li id='menu-item-menu-36' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.ParentWindow/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> ParentWindow</a></span>        </li>
        <li id='menu-item-menu-37' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.RequiresExplicitAcknowledgement/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> RequiresExplicitAcknowledgement</a></span>        </li>
        <li id='menu-item-menu-38' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.SecondaryContent/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> SecondaryContent</a></span>        </li>
        <li id='menu-item-menu-39' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.Severity/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Severity</a></span>        </li>
        <li id='menu-item-menu-40' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.ShowSuppressCheckbox/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> ShowSuppressCheckbox</a></span>        </li>
        <li id='menu-item-menu-41' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.Tag/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Tag</a></span>        </li>
        <li id='menu-item-menu-42' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.Timeout/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Timeout</a></span>        </li>
        <li id='menu-item-menu-43' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.TimeoutButtonId/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> TimeoutButtonId</a></span>        </li>
        <li id='menu-item-menu-44' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.Title/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Title</a></span>        </li>
        <li id='menu-item-menu-45' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.VerificationText/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> VerificationText</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-46' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.PlatformCapabilities/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> MessageBoxOptions.PlatformCapabilities</a><a href='#menu-id-menu-46' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-46' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-46' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-47' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.PlatformCapabilities/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-menu-47' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-47' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-47' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-48' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.PlatformCapabilities.LocaleSupported/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> LocaleSupported</a></span>        </li>
        <li id='menu-item-menu-49' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.PlatformCapabilities.RequiresStaOnWindows/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> RequiresStaOnWindows</a></span>        </li>
        <li id='menu-item-menu-50' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOptions.PlatformCapabilities.SupportsWindowsInput/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> SupportsWindowsInput</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-51' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxResult/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> MessageBoxResult</a><a href='#menu-id-menu-51' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-51' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-51' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-52' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxResult/#constructors' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Constructors</a><a href='#menu-id-menu-52' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-52' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-52' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-53' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxResult.-ctor-System.UInt32-System.Boolean-System.String-7413936a4698/' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> MessageBoxResult(UInt32, Boolean, String?, Boolean, MessageBoxOutcome, Object?, UInt32)</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-menu-54' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxResult/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-menu-54' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-54' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-54' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-55' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxResult.ButtonId/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> ButtonId</a></span>        </li>
        <li id='menu-item-menu-56' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxResult.CheckboxChecked/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> CheckboxChecked</a></span>        </li>
        <li id='menu-item-menu-57' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxResult.InputValue/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> InputValue</a></span>        </li>
        <li id='menu-item-menu-58' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxResult.NativeResultCode/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> NativeResultCode</a></span>        </li>
        <li id='menu-item-menu-59' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxResult.Outcome/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Outcome</a></span>        </li>
        <li id='menu-item-menu-60' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxResult.Tag/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Tag</a></span>        </li>
        <li id='menu-item-menu-61' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxResult.WasTimeout/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> WasTimeout</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-62' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxSecondaryContent/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> MessageBoxSecondaryContent</a><a href='#menu-id-menu-62' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-62' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-62' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-63' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxSecondaryContent/#constructors' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Constructors</a><a href='#menu-id-menu-63' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-63' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-63' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-64' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxSecondaryContent.-ctor-System.String-System.String-Syste-6e9c676f1b7e/' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> MessageBoxSecondaryContent(String?, String?, String?, String?)</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-menu-65' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxSecondaryContent/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-menu-65' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-65' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-65' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-66' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxSecondaryContent.ExpandedText/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> ExpandedText</a></span>        </li>
        <li id='menu-item-menu-67' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxSecondaryContent.FooterText/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> FooterText</a></span>        </li>
        <li id='menu-item-menu-68' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxSecondaryContent.HelpLink/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> HelpLink</a></span>        </li>
        <li id='menu-item-menu-69' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxSecondaryContent.InformativeText/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> InformativeText</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-70' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxClient/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> NativeMessageBoxClient</a><a href='#menu-id-menu-70' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-70' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-70' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-71' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxClient/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-menu-71' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-71' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-71' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-72' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxClient.CurrentHost/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> CurrentHost</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-menu-73' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxClient/#methods' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Methods</a><a href='#menu-id-menu-73' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-73' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-73' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-74' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxClient.ConfigureHost-System.Action-NativeMessageBo-dc0c01792e1f/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> ConfigureHost(Action<NativeMessageBoxHostOptions>)</a></span>        </li>
        <li id='menu-item-menu-75' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxClient.EnsureInitialized/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> EnsureInitialized()</a></span>        </li>
        <li id='menu-item-menu-76' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxClient.RegisterLogHandler-System.Action-System.String-/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> RegisterLogHandler(Action<String>?)</a></span>        </li>
        <li id='menu-item-menu-77' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxClient.RegisterNativeLibraryPath-System.String/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> RegisterNativeLibraryPath(String)</a></span>        </li>
        <li id='menu-item-menu-78' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxClient.Show-NativeMessageBox.MessageBoxOptions/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Show(MessageBoxOptions)</a></span>        </li>
        <li id='menu-item-menu-79' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxClient.ShowAsync-NativeMessageBox.MessageBoxOption-5d113f5c7648/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> ShowAsync(MessageBoxOptions, CancellationToken)</a></span>        </li>
        <li id='menu-item-menu-80' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxClient.ShowOrThrow-NativeMessageBox.MessageBoxOptions/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> ShowOrThrow(MessageBoxOptions)</a></span>        </li>
        <li id='menu-item-menu-81' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxClient.Shutdown/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Shutdown()</a></span>        </li>
        <li id='menu-item-menu-82' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxClient.TryShow-NativeMessageBox.MessageBoxOptions-5c9995c1e5df/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> TryShow(MessageBoxOptions, out MessageBoxResult)</a></span>        </li>
        <li id='menu-item-menu-83' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxClient.TryShowAsync-NativeMessageBox.MessageBoxOpt-c0821feef3fa/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> TryShowAsync(MessageBoxOptions, CancellationToken)</a></span>        </li>
        <li id='menu-item-menu-84' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxClient.UseHost-NativeMessageBox.INativeMessageBoxHost/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> UseHost(INativeMessageBoxHost)</a></span>        </li>
        <li id='menu-item-menu-85' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxClient.VerifyAbiCompatibility/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> VerifyAbiCompatibility()</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-86' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxException/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> NativeMessageBoxException</a><a href='#menu-id-menu-86' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-86' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-86' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-87' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxException/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-menu-87' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-87' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-87' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-88' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxException.NativeResultCode/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> NativeResultCode</a></span>        </li>
        <li id='menu-item-menu-89' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxException.Outcome/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Outcome</a></span>        </li>
        <li id='menu-item-menu-90' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxException.Result/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Result</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-91' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxHostOptions/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> NativeMessageBoxHostOptions</a><a href='#menu-id-menu-91' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-91' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-91' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-92' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxHostOptions/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-menu-92' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-92' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-92' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-93' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxHostOptions.Android/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Android</a></span>        </li>
        <li id='menu-item-menu-94' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxHostOptions.RequireStaThreadForWindows/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> RequireStaThreadForWindows</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-95' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.NativeMessageBoxInitializationException/' class='menu-link  '><i class='bi bi-box' aria-hidden='true'></i> NativeMessageBoxInitializationException</a></span>    </li>
    <li id='menu-item-menu-96' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.AndroidActivityReference/' class='menu-link  '><i class='bi bi-boxes' aria-hidden='true'></i> AndroidActivityReference</a><a href='#menu-id-menu-96' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-96' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-96' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-97' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.AndroidActivityReference/#constructors' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> Constructors</a><a href='#menu-id-menu-97' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-97' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-97' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-98' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.AndroidActivityReference.-ctor-System.IntPtr-System.Boolean/' class='menu-link  '><i class='bi bi-hammer' aria-hidden='true'></i> AndroidActivityReference(IntPtr, Boolean)</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-menu-99' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.AndroidActivityReference/#properties' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Properties</a><a href='#menu-id-menu-99' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-99' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-99' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-100' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.AndroidActivityReference.Handle/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> Handle</a></span>        </li>
        <li id='menu-item-menu-101' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.AndroidActivityReference.None/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> None</a></span>        </li>
        <li id='menu-item-menu-102' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.AndroidActivityReference.OwnsHandle/' class='menu-link  '><i class='bi bi-sliders' aria-hidden='true'></i> OwnsHandle</a></span>        </li>
      </ol>
      </li>
      <li id='menu-item-menu-103' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.AndroidActivityReference/#methods' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Methods</a><a href='#menu-id-menu-103' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-103' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-103' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-104' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.AndroidActivityReference.Dispose/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Dispose()</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-105' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.INativeMessageBoxHost/' class='menu-link  '><i class='bi bi-diagram-3' aria-hidden='true'></i> INativeMessageBoxHost</a><a href='#menu-id-menu-105' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-105' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-105' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-106' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.INativeMessageBoxHost/#methods' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Methods</a><a href='#menu-id-menu-106' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-106' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-106' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-107' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.INativeMessageBoxHost.EnsureInitialized/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> EnsureInitialized()</a></span>        </li>
        <li id='menu-item-menu-108' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.INativeMessageBoxHost.Show-NativeMessageBox.MessageBoxOptions/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Show(MessageBoxOptions)</a></span>        </li>
        <li id='menu-item-menu-109' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.INativeMessageBoxHost.ShowAsync-NativeMessageBox.MessageBoxOptions-ef233878e227/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> ShowAsync(MessageBoxOptions, CancellationToken)</a></span>        </li>
        <li id='menu-item-menu-110' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.INativeMessageBoxHost.Shutdown/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> Shutdown()</a></span>        </li>
        <li id='menu-item-menu-111' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.INativeMessageBoxHost.TryShow-NativeMessageBox.MessageBoxOptions-N-ceef90b961be/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> TryShow(MessageBoxOptions, out MessageBoxResult)</a></span>        </li>
        <li id='menu-item-menu-112' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.INativeMessageBoxHost.TryShowAsync-NativeMessageBox.MessageBoxOpti-1074d3ec07ab/' class='menu-link  '><i class='bi bi-gear' aria-hidden='true'></i> TryShowAsync(MessageBoxOptions, CancellationToken)</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-113' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButtonKind/' class='menu-link  '><i class='bi bi-list-ul' aria-hidden='true'></i> MessageBoxButtonKind</a><a href='#menu-id-menu-113' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-113' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-113' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-114' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButtonKind/#fields' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Fields</a><a href='#menu-id-menu-114' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-114' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-114' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-115' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButtonKind.Default/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Default</a></span>        </li>
        <li id='menu-item-menu-116' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButtonKind.Destructive/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Destructive</a></span>        </li>
        <li id='menu-item-menu-117' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButtonKind.Help/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Help</a></span>        </li>
        <li id='menu-item-menu-118' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButtonKind.Primary/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Primary</a></span>        </li>
        <li id='menu-item-menu-119' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxButtonKind.Secondary/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Secondary</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-120' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxDialogModality/' class='menu-link  '><i class='bi bi-list-ul' aria-hidden='true'></i> MessageBoxDialogModality</a><a href='#menu-id-menu-120' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-120' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-120' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-121' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxDialogModality/#fields' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Fields</a><a href='#menu-id-menu-121' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-121' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-121' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-122' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxDialogModality.Application/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Application</a></span>        </li>
        <li id='menu-item-menu-123' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxDialogModality.System/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> System</a></span>        </li>
        <li id='menu-item-menu-124' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxDialogModality.Window/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Window</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-125' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxIcon/' class='menu-link  '><i class='bi bi-list-ul' aria-hidden='true'></i> MessageBoxIcon</a><a href='#menu-id-menu-125' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-125' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-125' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-126' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxIcon/#fields' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Fields</a><a href='#menu-id-menu-126' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-126' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-126' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-127' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxIcon.Error/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Error</a></span>        </li>
        <li id='menu-item-menu-128' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxIcon.Information/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Information</a></span>        </li>
        <li id='menu-item-menu-129' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxIcon.None/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> None</a></span>        </li>
        <li id='menu-item-menu-130' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxIcon.Question/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Question</a></span>        </li>
        <li id='menu-item-menu-131' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxIcon.Shield/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Shield</a></span>        </li>
        <li id='menu-item-menu-132' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxIcon.Warning/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Warning</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-133' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxInputMode/' class='menu-link  '><i class='bi bi-list-ul' aria-hidden='true'></i> MessageBoxInputMode</a><a href='#menu-id-menu-133' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-133' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-133' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-134' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxInputMode/#fields' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Fields</a><a href='#menu-id-menu-134' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-134' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-134' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-135' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxInputMode.Checkbox/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Checkbox</a></span>        </li>
        <li id='menu-item-menu-136' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxInputMode.Combo/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Combo</a></span>        </li>
        <li id='menu-item-menu-137' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxInputMode.None/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> None</a></span>        </li>
        <li id='menu-item-menu-138' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxInputMode.Password/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Password</a></span>        </li>
        <li id='menu-item-menu-139' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxInputMode.Text/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Text</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-140' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOutcome/' class='menu-link  '><i class='bi bi-list-ul' aria-hidden='true'></i> MessageBoxOutcome</a><a href='#menu-id-menu-140' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-140' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-140' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-141' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOutcome/#fields' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Fields</a><a href='#menu-id-menu-141' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-141' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-141' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-142' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOutcome.Cancelled/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Cancelled</a></span>        </li>
        <li id='menu-item-menu-143' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOutcome.InvalidArgument/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> InvalidArgument</a></span>        </li>
        <li id='menu-item-menu-144' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOutcome.NotSupported/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> NotSupported</a></span>        </li>
        <li id='menu-item-menu-145' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOutcome.OutOfMemory/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> OutOfMemory</a></span>        </li>
        <li id='menu-item-menu-146' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOutcome.PlatformFailure/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> PlatformFailure</a></span>        </li>
        <li id='menu-item-menu-147' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOutcome.Success/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Success</a></span>        </li>
        <li id='menu-item-menu-148' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOutcome.Uninitialized/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Uninitialized</a></span>        </li>
        <li id='menu-item-menu-149' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxOutcome.Unknown/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Unknown</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
    <li id='menu-item-menu-150' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxSeverity/' class='menu-link  '><i class='bi bi-list-ul' aria-hidden='true'></i> MessageBoxSeverity</a><a href='#menu-id-menu-150' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-150' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-menu-150' class='menu menu-level2 collapse '>
      <li id='menu-item-menu-151' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxSeverity/#fields' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Fields</a><a href='#menu-id-menu-151' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-menu-151' class='menu-link-show collapsed'></a></span>      <ol id='menu-id-menu-151' class='menu menu-level3 collapse '>
        <li id='menu-item-menu-152' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxSeverity.Critical/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Critical</a></span>        </li>
        <li id='menu-item-menu-153' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxSeverity.Error/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Error</a></span>        </li>
        <li id='menu-item-menu-154' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxSeverity.Info/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Info</a></span>        </li>
        <li id='menu-item-menu-155' class='menu-item '>
          <span class='menu-item-row'><a href='/NativeMessageBox/api/NativeMessageBox.MessageBoxSeverity.Warning/' class='menu-link  '><i class='bi bi-hash' aria-hidden='true'></i> Warning</a></span>        </li>
      </ol>
      </li>
    </ol>
    </li>
  </ol>
  </li>
</ol>
